@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Plus Jakarta Sans";
}

*::selection{
  background-color: #F7F7F7;
  color: #161616;
}

.dark-photo:hover{
  opacity: 0;
}

.normal-photo:hover{
  opacity: 0;
}